.home-section {
  .products-container {
    padding: 10px 50px;
  }

  .products-container .product-card {
    border: 1px solid $ash-dark;
    padding: 20px;
    margin-bottom: 20px;
    min-height: 250px;
  }

  .products-container .product-card .face {
    text-align: center;
    border: 1px solid;
    padding: 40px 0px;
    border-radius: 7px;
    min-height: 120px;
    margin-bottom: 40px;
  }

  .products-container .product-details .price {
    float: left;
  }
  .products-container .product-details .date {
    float: right;
  }
}
