.home-section {
  position: relative;
  min-height: 550px;

  .products-container {
    padding: 10px 50px;
  }

  .products-container .product-card {
    border: 1px solid $ash-dark;
    padding: 20px;
    margin-bottom: 20px;
    min-height: 250px;
  }

  .products-container .product-card .face {
    text-align: center;
    border: 1px solid;
    padding: 40px 0px;
    border-radius: 7px;
    margin-bottom: 40px;
    min-height: 150px;
    max-height: 150px;
    overflow: hidden;
  }

  .products-container .product-details .price {
    float: left;
  }

  .products-container .product-details .date {
    float: right;
  }

  .infinite-scroll-loading {
    position: relative;
    height: 40px;
    width: 100%;
  }
}
