$snow: #ffffff;

$primary: #085492;
$primary-light: #0d66ae;
$primary-dark: #004776;

$jade: #58b95a;
$jade-dark: #489b4a;
$jade-light: #74d476;

$pumpkin: #f2ad4e;
$pumpkin-light: #fdc16f;
$pumpkin-dark: #ef9416;

$crimson: #da5350;
$crimson-light: #f46f66;
$crimson-dark: #c84037;

$sky: #5ac1e0;
$sky-light: #64caf0;
$sky-dark: #2ba3d1;

$amethyst: #d18eeb;
$amethyst-dark: #6a66ce;
$amethyst-light: #daaff2;

$ash: #f8faf8;
$ash-light: #eff2f4;
$ash-dark: #dadddf;

$dark: #dadddf;
$dark-darker: #232323;
